//the code below for the header menus
.primary-navigation .navigation .nav-link{
    color:#fff;
    font-size: bold;
    font-size: 20px;
}
//the code below is for the active link on the custum menu
.navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #FF4500;font-size: bold;font-size: 20px;
}
//this code is for the logo brand on the header menu
.navbar-brand.d-none.d-md-flex.align-items-center.m-0.mr-4.p-0.aabtn{
    background-image:url([[pix:theme|favicon]]);
    background-size: cover;
    width: 100px;
    height: 70px;
    color:white;
}
.navbar-brand{
    font-size: 0;
}
.navbar.fixed-top {
    padding-top: 5px;
    padding-bottom: 0;
    box-shadow: none;
    border-bottom: #DEE2E6 1px solid;
    align-items: stretch;
    height: 80px;
}
//To change edit button color to white
.mr-2{
    color: white;
}
#page_content{
    background-color:#ff008c;
}
.page-context-header{
    color: #800000;
    
}
#yui_3_17_2_1_1660686497962_28{
    color: #FF6F61;
}
//header background colur
.bg-white {
    background-image: linear-gradient(90deg,#020024 0%, #090979 35%, #01abee 100%)!important;
}
h2{
    color: #FF6F61;
}
//the two lines below are the first, to access the logo image from the pix folder under 'bithio' theme and the latter to apply color for the log in and sign-up forms.
.login-container {background-image:url([[pix:theme|logoim]]);background-size: cover;}
.login-container{background-color: #01abee;}


//the code below is for hiding the profile fiels of city/town.
#fitem_id_city{display: none;}
// the code below is for hiding the profile field of country.
#fitem_id_country{display: none;}
// The codes below are for login display not to be seen in the login button.
.login-instructions{display: none;}//hides for='For full access to this site, you first need to create an account.'
.login-container{color: white;}//this color is for the heading texts in the log in and all texts in the sign-up form.
.login-container h2.login-heading {display: none;}//hides for='Some courses may allow guest access'
.login-divider{display: none;}//hides for 'the three lines below 'lost password''
.btn-secondary {display: none;}//hides for buttons='Create new account, Log in as guest, Cokies notice'

//All the codes below are fore the courseboxes
.courses.frontpage-course-list-all{
        

    display: flex;
    flex-flow: row wrap;
    margin-right: 0rem;
    margin-left: 0rem;

       /* max-width: 100%;
        display: flex;
    flex-flow: row wrap;
        /*position: absolute;
        flex: 1 0 0%;
        margin-right: 0.25rem;
        margin-bottom: 0;
        margin-left: 0.25rem;
        //display:flex;
        //justify-content: auto;
       // display: inline-flexbox;
       //padding: 5px;*/
    }
    #frontpage-available-course-list .coursebox, #frontpage-course-list .coursebox, .course-search-result .coursebox {
        @media (min-width: 576px){
            //this is to show 3 courses per line.
            margin: .5rem 0 0 .5rem;
            width: calc(25% - 0.5rem);
            height: calc(25% - 0.5rem);
           // box-shadow: 2px 2px 2px 2px rgb(0, 0, 0,0.1);//this is to make a shadow on every course.
           //background-color: #c5cfd3;//this is put background color on every course.
            //the code below is to make two courses only.
           /* width: calc(50% - 0.5rem);
            height: calc(50% - 0.5rem);*/
        }}
        
//To change the height of course cards in dashboard 
.dashboard-card-deck .dashboard-card .dashboard-card-img {
    height: 14rem;
}
// All the codes below are for the footer
#page-wrapper #page-footer {
   //this code id the best player fo the footer(the width and max-width are neccessary)
    float:left;
    width:109%;
    margin-left:-5%;
    margin-right:-5%;   
    max-width: 109%;
    flex-shrink: 0;
    display: flex;
  flex-direction: column;
}



    //the Boxes blew are names of classes written on the html_writer in the renderer of bithio theme for the footer.
.Box{
display: flex;
justify-content:space-around;
//justify-items: auto;
}

// this is the CSS for the footer file
.container{
    display:flex;
    flex-wrap:wrap;
    }
.Box1{
    max-width:40px ;
    margin: 10px;
    //padding-right: 20px;
}
.Box2{
    max-width:40px;
    
   // padding-right: 20px;
}
.Box3{
    max-width:40px;
    
   // padding-right: 20px;
}
.Box4{
    max-width:40px;
    
   // padding-right: 20px;
}
.bottom{
    max-width: 109%;
    margin-left:-5%;
    margin-right:-5%;
    border-bottom: 1px solid white;
}
#region-main-box {
    padding-left: 0;
    padding-right: 0;
}
.ccopy{
    margin-right: 4px;
    display: flex;
justify-content:space-around;
}

//this is to hide for the horizontal scrollbar on the footer
.drawers.drag-container{
    overflow-x: hidden;
    
}

h6:hover{
    transition:all .5s ease;
    color:#01abee;
}
.f1 a:hover{
    color:#01abee;
    transition:all .5s ease;
    text-decoration: none;
}
.f1:hover{
    transition:all .5s ease;
    color:#01abee;
}
