

<footer id="page-footer" class="footer-popover bg-white">
    <div data-region="footer-container-popover">
        
    </div>
    <div class="footer-content-popover container" data-region="footer-content-popover">
        
        <div class="footer-section p-3 border-bottom">
            
            <div class="tool_usertours-resettourcontainer">
            </div>

            {{{ output.standard_footer_html }}}
            {{{ output.standard_end_of_body_html }}}
        </div>
        <div class="footer-section p-3">           
        </div>
    </div>

    <div class="footer-content-debugging footer-dark bg-dark text-light">
        <div class="container-fluid footer-dark-inner">
            {{{ output.debug_footer_html }}}
        </div>
    </div>
</footer>
{{#js}}
require(['theme_boost/footer-popover'], function(FooterPopover) {
    FooterPopover.init();
});
{{/js}}



{{!
<!DOCTYPE html>
<html lang="en">
<head>
<title>Footer Design</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;600;900&display=swap');*/
body{
line-height:1.5;
font-family: 'Poppins', sans-serif;
}
.container{
	max-width:1170px;
    margin:auto;
}
a{
text-decoration:none;
}
.row{
display:flex;
flex-wrap:wrap;
}
ul{
list-style:none;
}
ul a{
text-decoration:none;
font-size:18px;
color:#01abeef;
font:bolder;
}
a:hover{
color:#01abee;
}

h5{
text-decoration:none;
font-size:16px;
color:#ffffff;
font:bolder;
}
h5:hover{
color:#01abee;
transition:all .5s ease;
transform:scale(1.05);
}

.footer h5:a{
text-decoration:none;
}
.footer{
/*background-color:#24262b;*/
padding:30px 0 0 0;
margin:0 0 0 0;
}
.footer-col{
	width:25%;
	padding:0 15px;
}
.footer-col h4{
	font-size:21px;
	color:#FF4500;
	text-transform:capitalize;
	margin-bottom:5px;
}
.footer-col h4:hover{
	transition:all 0.5s ease;
    color:#01abee;
	transform:scale(1.05);
}


.footer-col ul li a:hover{
padding-left:10px;
}
.footer-col ul li:hover{
transform:scale(1.05);
}
.footer .social-links a{
display:inline-block;
height:40px;
width:40px;
background-color: rgba(255,255,255,0.3);
margin-right:0 10px 10px 0;
text-align:center;
line-height:41px;
font-size:30px;
border-radius:50%;
color:#ffffff;
transition:all 0.5s ease;
text-decoration:none;
}
.footer .social-links a:hover{
color:24262b;
transform:scale(1.05);
transition:all .5s ease;
background-color:#01abee;
text-decoration:none;
}
@media(max-width:767px){
.footer-col{
width:50%;
padding:0px;
margin-bottom:0px;
}
}
@media(max-width:574 px){
.footer-col{
width:100%;
}
}
</style>
</head>
<body>
<footer style="background-color:#24262b;margin-width:0;"class="footer">
   <div class="container">
     <div class="row">
      <div class="footer-col">
        <h4>About Us</h4>
		<h5>Bithio ICT Systems PLC</h5>
		<h5>Addis Ababa, Ethiopia</h5>
		<h5><a href="#">www.bithio.com</a></h5>
		 </div>
		<div class="footer-col">
        <h4>Products and Services</h4>
		<h5>eLearning systems</h5>
		<h5>Products and Services</h5>
		<h5>Digital library</h5>
		 </div>
		 <div class="footer-col">
        <h4>Contact US</h4>
		<h5>Ethio ICT Park</h5>
		<h5>Bole Sub City, Woreda 11</h5>
		<h5><a href="#">Email: info@bithio.com</a></h5>
		 </div>
		 <div class="footer-col">
        <h4>Follow US</h4>
		  <div class="social-links">
		      <a href="#" class="fa fa-facebook"></a>
			  <a href="#" class="fa fa-twitter"></a>
			  <a href="#" class="fa fa-instagram"></a>
			  <a href="#" class="fa fa-telegram"></a>
          </div>
		 </div>
		</div>
		</div><br>
        <div style="border-bottom: 2px solid white"></div>
       <br>
       <div style="display:flex;flex-wrap:wrap;text-align:center;" class="row2"> <p style="padding-left:40px;color:white;">©2021 Bithio ICT Systems. All Rights Reserved <p class="policy"style="padding-left:280px;"><a href="https://www.bithio.com/admin/tool/policy/viewall.php?returnurl=https%3A%2F%2Fwww.bithio.com%2F">Policies</a></p>
       </div>
	</footer>	
</body>
</html>
}}