

<footer id="page-footer" class="footer-popover bg-white">
    <div data-region="footer-container-popover">
        
    </div>
    <div class="footer-content-popover container" data-region="footer-content-popover">
        
        <div class="footer-section p-3 border-bottom">
            
            <div class="tool_usertours-resettourcontainer">
            </div>

            {{{ output.standard_footer_html }}}
            {{{ output.standard_end_of_body_html }}}
        </div>
        <div class="footer-section p-3">           
        </div>
    </div>

    <div class="footer-content-debugging footer-dark bg-dark text-light">
        <div class="container-fluid footer-dark-inner">
            {{{ output.debug_footer_html }}}
        </div>
    </div>
</footer>
{{#js}}
require(['theme_boost/footer-popover'], function(FooterPopover) {
    FooterPopover.init();
});
{{/js}}
